<header class="navbar navbar-inverse navbar-fixed-top"><!-- navbar-fixed-top -->
		<div class="navbar-inner">
			<a class="brand" href="<{$root}>">QQ批量登陆-Web版</a>
			<ul class="nav dropdown-hover pull-right">
				<li class="divider-vertical"></li>
				<li class="nav dropdown">
					<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
						<img src="<{$public}>/images/header/1.png" class="img-circle" style="width:20px;background-color:rgba(250, 250, 250, 0.8);padding:2px;">指尖上的艺术
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" >
						<li>
						    <a href="javascript:;"><i class="icon-user"></i> 个人资料</a>
						</li>
						<li>
						    <a href="javascript:;"><i class="icon-cog"></i> 设置</a>
						</li>
						<li class="divider"></li>
						<li>
						    <a href="javascript:;"><i class="icon-off"></i> 退出</a>
						</li>
					</ul>
				</li>
			</ul>
	</div>
</header>